<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vaccine Registration System - Show own user Appointments</title>
   <link rel="icon" href="/images/icon.png">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/61968f357f.js" crossorigin="anonymous"></script>
</head>

<body>
   <!-- Navigation Bar -->
   <nav id="menu" class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
         <!-- <img src="/images/Icon.png" class="d-inline-block align-top nav-img" alt="Vaccine Registration System"> -->
         Vaccine Vaccinaton System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-2">
               <a class="nav-link btn btn-outline-secondary my-2 my-sm-0"  href="/user">Back to Dashboard</a>
            </li>
         </ul>
      </div>
   </nav>

   <div class="my-4 py-4"> </div>

   
  <div class="jumbotron">
   <div class="container">
       <h1 class="display-5">Welcome to my Appointments!</h1>
       <p class="lead">This Shows all the pending, accepted, and completed appointments that you have!</p>
   </div>
</div>

   <section id="vaccine-list">
      <div class="row">
        <!-- appointments -->
        <% for(const appointment of appointments) { %>
            <div class="container col-md-6 col-lg-5 col-xl-4 p-1">
                <div class="card p-0 text-center">
                    <div class="card-body">
                         <h5 class="card-title text-center">"<%= appointment.VName %>" - "<%= appointment.CName %>" - <%= appointment.Date %></h5>
                    </div>
                    <div class="card-footer text-muted">
                        <% if (appointment.Status === "waiting") { %>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <form action="/user/appointments/<%= appointment.ID%>/accept/?_method=PUT" method="POST" class="form-inline ml-auto">
                                        <button class="btn btn-success my-2 mr-2 btn-block">Accept</button>
                                     </form>
                                </div>
                                <div class="col-12 col-md-6">
                                    <form action="/user/appointments/<%= appointment.ID%>/reject/?_method=PUT" method="POST" class="form-inline ml-auto">
                                        <button class="btn btn-danger my-2 mr-2 btn-block">Reject</button>
                                     </form>
                                </div>
                            </div>
                        <% } else { %>
                            <div><%= appointment.Status %></div>
                        <% } %>
                    </div>
                </div>
            </div>
         <% } %>
  </div>
   </section>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>